@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #0079ff;

    /* Default colors */
    --bg-main: #f6f8ff;
    --bg-secondary: #fefefe;
    --text-color-one: #2b3442;
    --text-color-two: #4b6a9b;
    --text-color-three: #697c9a;
}

/* Dark mode colors */
.dark-mode {
    --bg-main: #141d2f;
    --bg-secondary: #1e2a47;
    --text-color-one: #ffffff;
    --text-color-two: #ffffff;
    --text-color-three: #ffffff;
}

body {
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    background-color: var(--bg-main);
    color: var(--text-color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
}

button {
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}

.container {
    flex-grow: 1;
    max-width: 730px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}

.website {
    color: var(--text-color-one);
    font-size: 26px;
    line-height: 38.51px;
}

.theme-toggle-button {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: 700;
    font-size: 13px;
    line-height: 19.25px;
    letter-spacing: 2.5px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.theme-toggle-img {
    transition: transform 0.2s ease;
}

.theme-toggle-button:hover {
    color: var(--text-color-one);
}

.theme-toggle-button:hover > .theme-toggle-img {
    transform: scale(1.25);
    fill: var(--text-color-one);
}

.theme-toggle-button:hover .theme-toggle-img path {
    fill: var(--text-color-one);
}